$table-cell-padding-y:1rem;
$table-cell-padding-x:2rem;
$table-th-font-weight:2px;
$form-check-input-width:1.2em;
$form-check-input-checked-color: #000;
$component-active-color:$form-check-input-checked-color;


@import "../bootstrap/scss/bootstrap.scss"